.link-hover:hover {
    background-image:
        linear-gradient(to right,
            rgb(116, 97, 185),
            rgb(55, 71, 214));
    border-radius: 10px;
    text-decoration: none;

}

.link-style {
    background: linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
}